<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>
	<body class="container">
		<header><%- include('../partials/header'); %></header>

		<main>
			<div class="container">
				<h1>Top employees</h1>
				<div class="container">
					<p>
						With a working GET request in Postman, you can now start to render
						the response in HTML
					</p>
					<p>
						Inside the "directory.ejs" page is a EJS version of a template
						literal. With templates like EJS or Handlebars we can then loop over
						the items of the array to render the HTML.
          </p>
          <p><ul>
            <li>Starting with a working Postman request, inside your route console.log the response</li>
            <li>Next you just need to pass the response object or array of objects into your template</li>
          </ul> </p>
				</div>
				<div class="row justify-content-between">
					<% employees.forEach(function(employee) { %>

					<div class="col-3 p-1 m-2 bg-light  ">
						<img src="<%= employee[1].picture %>" />
						<h6><%= employee[1].firstName %> <%= employee[1].lastName %></h6>
						<p class="fs-6">📧 <%= employee[1].email %></p>
						<a href="directory/<%= employee[0] %> " class="btn btn-primary btn-sm"
							>View Profile</a
						>
					</div>

					<% }); %>
				</div>
			</div>
		</main>

		<footer><%- include('../partials/footer'); %></footer>
	</body>
</html>
